.button {
  color: #ffff;
  cursor: pointer;
  font-size: 1.5rem;
  min-height: 1.25rem;
  padding-inline: 1.25rem;
  padding-block: 0.75rem;
  background-color: #44b8c6;
}

@media (max-width: 767px) {
  .button {
    /* width: 100%; */
  }
}
