.navigation {
  padding: 0 2rem;
  color: black;
}

.page-title {
  font-size: 4rem;
  color: inherit;
}

.title {
  /* font-size: 2rem; */
  text-decoration: none;
  color: inherit;
}

.title:hover {
  color: #16a7b8;
  opacity: 50%;
}

.active {
  text-decoration: none;
  color: #16a7b8;
  opacity: 100%;
}

.navigation-list {
  list-style: none;
  padding: 0;
  font-size: 1.5rem;
}

.list-item {
  margin-block-end: 1.5rem;
  display: inline;
  padding-left: 5rem;
  opacity: 80%;
}

.item-link {
  text-decoration: none;
  color: inherit;
  font-size: 1.75rem;
}

.item-link:hover {
  color: white;
  opacity: 100%;
  font-size: 2rem;
}
