/* header {
  background-color: #ffff;
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  top: 0;
  z-index: 30;
  position: fixed;
  width: 100vw;

} */

header {
  background-color: #ffffffbb;
  backdrop-filter: blur(5px);
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  z-index: 99999;
  border-color: black;
  border-width: 0 0 6px 0;
  border-style: groove;
  padding: 0 2rem;
}

@media (max-width: 767px) {
  header {
    height: 6.1rem;
  }
}
