.cat-walk {
  height: 8rem;
  padding: 0.5em;
  will-change: filter;
  transition: filter 400ms;
  z-index: 99999;
  animation: cat-walk 5s linear auto;
  transform: scaleX(-1);
}

.cat-animation-container {
  overflow: hidden;
}

@keyframes cat-walk {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 767px) {
  .cat-walk {
    padding-bottom: 3rem;
  }
}
