:root {
  /* Colors used */
  --primary-color: #333;
  --page-style: #16a7b8;
  --bg-color: #fefefe;
  /* Font weight */
  --light-weight: 300;
  --regular-weight: 400;
  --bold-weight: 600;
  --extrabold-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* overflow-x: hidden;  */
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 10%;
}

/*------------ mobile navigation ------------*/

@media (max-width: 767px) {
  section {
    padding-top: 20%;
  }
}
