:root {
  /* Colors used */
  --primary-color: #333;
  --page-style: #16a7b8;
  --bg-color: #fefefe;
  /* Font weight */
  --light-weight: 300;
  --regular-weight: 400;
  --bold-weight: 600;
  --extrabold-weight: 700;
}

:root {
  --black: rgb(0, 0, 0);
  --dark-grey: rgb(83, 83, 83);
  --light-grey: rgb(206, 206, 206);
  --white: rgb(255, 255, 255);
}

html[data-theme='light'] {
  --primary-font: var(--primary-color);
  --secondary-font: var(--black);
  --nav-text: var(--white);
  --card-bg: var(--light-grey);
}

html[data-theme='dark'] {
  --primary-font: var(--light-grey);
  --secondary-foreground: var(--dark-grey);
  --secondary-font: var(--white);
  --nav-text: var(--black);
  --card-bg: var(--white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* overflow-x: hidden;  */
  color: var(--primary-font);
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--secondary-foreground);
}

section {
  padding-top: 25%;
  padding-bottom: 15%;
}
/*------------ mobile navigation ------------*/

@media (min-width: 767px) {
  section {
  }
}

@media (min-width: 1248px) {
  section {
    padding-top: 10%;
  }
}
