/*
Colors used

Text Color (Black): #000000;
Primary Color (Dark Blue): rgb(25, 57, 92);
Secondary Color (light Blue): rgb(159, 187, 228);
 */
:root {
  /* Colors used */
  --primary-color: #333;
  --page-style: #16a7b8;
  --bg-color: #fefefe;
  /* Font weight */
  --light-weight: 300;
  --regular-weight: 400;
  --bold-weight: 600;
  --extrabold-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
